<nav id="nav">
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
	{% endfor %}
</nav>

<script>

	// Obtenha o elemento do nav-container
	const navContainer = document.getElementById('nav-container');
	const nav = document.getElementById('nav');
	const img = document.getElementById('img-logo');
	
	// Função para verificar a posição da janela e aplicar ou remover a classe "fixed" com atraso
	function toggleNavbarFixed() {
		if (window.scrollY >  window.innerHeight) { // Verifica se a janela foi rolada 4 vezes a altura da janela
			navContainer.classList.add('fixed');
			nav.classList.add('nav-fixed');
			img.classList.add('img-logo');
		} else {
			navContainer.classList.remove('fixed');
			nav.classList.remove('nav-fixed');
			img.classList.remove('img-logo');
		}
	}
	
	// Adicione um ouvinte de evento de rolagem para chamar a função quando a página for rolada
	window.addEventListener('scroll', toggleNavbarFixed);
	
	// Chame a função para definir o estado inicial do menu de navegação
	toggleNavbarFixed();
	</script>